{% extends 'base.html'%}
{% load static %}
{% load cart_tags %}

<body>
    {% block content %}
    {% if request.session.cart.items %}
    {% for key, producto in request.session.cart.items %}
    <tr class="text-center">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.stock }}</td>
        <td>
            <a href="{% url 'add_product' producto.product_id %}" class="btn btn-sm btn-success">
                +
            </a>
            <a href="{% url 'decrement_product' producto.product_id %}" class="ml-2 btn-sm btn btn-danger">
                -
            </a>
            Total {{ producto.precio|multiply:producto.stock}}
        </td>
    </tr>
    {% endfor %}

    {% else %}
    <tr>
        <td>
            <div class="alert alert-danger text-center">
                No tienes productos agregados a tu carrito
            </div>
        </td>
    </tr>
    {% endif %}
    {% endblock %}
</body>