{% extends 'base.html'%}
{% load static %}

{% block css %}

{% endblock %}

<body>
    {% block content %}
    <main role="main">
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3">
                    {% for producto in productos %}
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src={% static 'coffe.jpeg' %} class="card-img-top" alt={% static 'coffe.jpeg' %}>
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.nombre }}</h5>
                                <p class="card-text">{{ producto.descripcion }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar al carro</button>
                                    </div>
                                    <small class="text-muted">Quedan {{ producto.stock }} en stock.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}

</body>