<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pagina web</title>

	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% block css %}
	{% endblock %}
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img src={% static 'logo.png' %} width="40" height="40" class="d-inline-block align-center" alt=""
				loading="lazy"></img> Proyecto Integrador
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/">Inicio</a>
				</li>
			</ul>

			<form class="form-inline mt-2 mt-md-0" action="" method="POST">
				{% csrf_token %}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link active dropdown-toggle"
							id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							{% if user.is_authenticated %}
							{{ user.username}}
							{% else %}
							Cuenta
							{% endif %}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% if user.is_authenticated == False %}
							<a class="dropdown-item" href="{% url 'login_url' %}">Iniciar Sesion</a>
							<a class="dropdown-item" href="{% url 'register_url' %}">Registrarse</a>

							{% else %}

							{% if user.is_staff %}
							<a class="dropdown-item" href="/admin">Menu Admin</a>
							{% endif %}

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'logout_url' %}">Cerrar sesión</a>
							{% endif %}
						</div>
					</li>
				</ul>
				<input class="form-control mr-sm-2" name="search" id="search" type="text" required placeholder="Search"
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
	{% bootstrap_javascript jquery='full' %}
	<footer class="cs-footer bg-dark">
		<div class="container pt-md-0">
			<p class="font-size-sm text-center py-3" style="margin-bottom: 0;">
				<span class="text-light opacity-50">© Todos los derechos reservados. Hecho por</span>
				<a class="nav-link-style nav-link-light" href="https://github.com/MaximoSav/Proyecto-Integrador-Django/" target="_blank" rel="noopener">
					El papi como siempre...</a>
			</p>
		</div>
	</footer>
</body>

</html>