<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pagina web</title>

	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% block css %}
	{% endblock %}
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/">
			<img src={% static 'logo.png' %} width="50" height="50" class="d-inline-block align-center" alt=""
				loading="lazy"></img> Proyecto Integrador
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/admin">Admin</a>
				</li>

			</ul>

			<form class="form-inline mt-2 mt-md-0">
				<ul class="navbar-nav mr-auto">
					{% if user.is_authenticated%}
					<li class="nav-item">
						<a class="nav-link" style="color:rgb(86, 155, 103);" href="{% url 'logout_url' %}">Cerrar sesión</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" style="color:rgb(86, 155, 103);" href="{% url 'login_url' %}">Iniciar
							Sesion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="color:rgb(86, 155, 103);"
							href="{% url 'register_url' %}">Registrarse</a>
					</li>
					{% endif %}
				</ul>
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
	{% bootstrap_javascript jquery='full' %}
</body>

</html>